button.accordion.upsource_plugin {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active.upsource_plugin, button.accordion.upsource_plugin:hover {
    background-color: #ddd; 
}

div.panel.upsource_plugin {
    padding: 0 18px;
    display: none;
    background-color: white;
}

hr.upsource_plugin {
    size: 2px;
    color: black;
}

.wrapping_button.upsource_plugin{
    word-wrap:normal;
    height: 100%;
    white-space: normal;
}

.scrolling_diff.upsource_plugin{
    max-height: 30em;
    overflow-x: scroll;
    overflow-y: scroll;
}

.unselectable.upsource_plugin {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#spinner_gif.upsource_plugin{
    display: none;
    /*background: url('/../../../images/gadgets/loading.gif') center no-repeat;*/
}

#spinner_gif.upsource_plugin.loading {
    display: block;
    width: 100%;
}